@using Honeypot.Services.Contracts
@inject IBookshelfService bookshelfService

@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="card col-md-6">
        <div class="card-body bookshelves-card">
            <h5 class="card-title"><strong>My Bookshelves</strong></h5>
            <hr class="black-line" />
            @foreach (var bookshelf in this.bookshelfService.GetUsersBookshelves(this.User.Identity.Name))
            {
                <p class="form-group"><em><a class="black-link" asp-controller="Bookshelf" asp-action="Details" asp-route-id="@bookshelf.Id">@bookshelf.Title</a></em></p>
            }
        </div>
    </div>
}
else
{
    <div class="jumbotron jumbotron-style" style="background-color: #a4c4f4;">                                                                                                                                                                                  
        <h1>
            <div class="brand">HONEYPOT</div>
            <hr class="black-line" />
            <p class="lead">
                The site provides you with the latest info about all newly released and upcoming books, as well as books written all throughout human existence.
                <br>Browse an endless sea of books, add and read your favourites and get insipration and wisdom from authors, books and quotes.
            </p>
            <div class="form-group; col-md-4 col-md-offset-4">
                <a asp-controller="Account" asp-action="Register" class="center-block btn-lg black-btn" role="button">Register</a>
            </div>
        </h1>
    </div>
}