@model Honeypot.ViewModels.Author.CreateAuthorViewModel

<div class="col-md-8 col-md-offset-2">
    <div>
        <h1 class="form-group text-center">Create Author</h1>
    </div>
    <hr class="black-line" />
    <form asp-controller="Author" asp-action="Create" method="post">
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Biography"></label>
            <textarea asp-for="Biography" class="form-control" rows="15"></textarea>
            <span asp-validation-for="Biography" class="text-danger"></span>
        </div>
        <hr class="black-line" />
        <div class="form-group">
            <button type="submit" class="center-block btn-lg black-btn">Create</button>
        </div>
    </form>
</div>