@model Honeypot.ViewModels.RegisterViewModel

<div class="col-md-5 col-md-offset-3" style="background-color: #c2daff">
    <div>
        <h1 class="form-group text-center">Register</h1>
    </div>
    <hr style="border-color:#222222" />
    <form asp-controller="Account" asp-action="Register">
        <div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control col-md-4" placeholder="Username..." />
                <span asp-validation-for="Username"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control col-md-4" placeholder="First Name..." />
                <span asp-validation-for="FirstName"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control col-md-4" placeholder="Last Name..." />
                <span asp-validation-for="LastName"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control col-md-4" placeholder="Email..." />
                <span asp-validation-for="Email"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control col-md-4" placeholder="Password..." />
                <span asp-validation-for="Password"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control col-md-4" placeholder="Confirm Password..." />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <br />
            <hr style="border-color:#222222" />
            <div class="form-group">
                <button type="submit" style="color:#c2daff; background-color:#222222" class="btn center-block btn-lg">Register</button>
            </div>
        </div>
    </form>
</div>