.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
}

.a {
    color: #222222;
}

.black-line {
    border-color: #222222;
    background-color: #222222;
}

.black-line-bolded {
    border-color: #222222;
    background-color: #222222;
    height: 1px;
}

body {
    background-color: #c2daff;
}

.black-btn {
    color: #c2daff;
    background-color: #222222;
    border: none;
}

    .black-btn:hover {
        color: white;
        background-color: #262626;
    }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #a4c4f4;
}

.title {
    font-family: Comic Sans MS, serif;
}

.black-link {
    color: black;
}

.bookshelves-card {
    border-radius: 25px;
    width: 280px;
    height: auto;
    background-color: #a4c4f4;
    padding: 2%;
    margin-top: 4%;
    text-align: center;
}

.jumbotron-style {
    opacity: 1;
    text-align: center;
    text-decoration-line: none;
    text-decoration-style: solid;
    font-family: Georgia, serif;
    height: 400px;
}

.book-card {
    width: 200px;
    padding: 2%;
    background-color: #90acd4;
    border-radius: 5px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.card-link {
    text-align: center;
    color: black;
}

.card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.brand {
    text-transform: uppercase;
    font-family: Comic Sans MS, serif;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /*padding: 14px 16px;*/
    /*background-color: inherit;*/
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        background-color: black;
    }
