@using Honeypot.ViewModels.Quote
@model Honeypot.ViewModels.Quote.DetailsViewModel

<div>
    <div>
        <h2><em>"@Model.Text"</em></h2>
    </div>
    <div>
        <p>@Model.AuthorName, "@Model.BookTitle"</p>
    </div>
</div>