<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Honeypot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body style="background-color:#c2daff">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand brand"
                   style="color: #a4c4f4;">Honeypot</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Book" asp-action="Discover">Discover</a></li>
                        <li><a asp-controller="Bookshelf" asp-action="MyBookshelves">My Bookshelves</a></li>
                        <li class="nav-item dropdown">
                            <a style="text-decoration:none" class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Create
                            </a>
                            <div style="text-align:center; background-color:black; line-height:13px;" class="dropdown-menu">
                                <a style="color:dodgerblue; text-decoration:none" class=" row dropdown-item" asp-controller="Bookshelf" asp-action="Create">Create Bookshelf</a>
                                @if (this.User.IsInRole(Role.Admin))
                                {
                                    <a style="color: dodgerblue; text-decoration: none" class=" row dropdown-item" asp-controller="Book" asp-action="Create">Create Book</a>
                                    <a style="color: dodgerblue; text-decoration: none" class="row nav-link dropdown-item" asp-controller="Author" asp-action="Create">Create Author</a>
                                    <a style="color: dodgerblue; text-decoration: none;" class="row nav-link dropdown-item" asp-controller="Quote" asp-action="Create">Create Quote</a>
                                }
                            </div>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br />
        @RenderBody()
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

    @RenderSection("Scripts", required: false)
</body>
</html>
<footer class="footer">
    <div class="container" style="width: 100%; color: lightgrey; background-color: #222222">
        <p style="text-align: center; color:#c2daff">Honeypot &copy; 2018 - All Rights Reserved</p>
    </div>
</footer>