@model Honeypot.ViewModels.Book.CreateViewModel

<h1>Create Book</h1>
<form asp-controller="Book" asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
        <span asp-validation-for="Title"></span>
    </div>
    <div> 
        <label asp-for="AuthorFirstName"></label>
        <input asp-for="AuthorFirstName"/>
        <span asp-validation-for="AuthorFirstName"></span>
    </div>
    <div> 
        <label asp-for="AuthorLastName"></label>
        <input asp-for="AuthorLastName"/>
        <span asp-validation-for="AuthorLastName"></span>
    </div>
    <div>
        <label asp-for="Summary"></label>
        <input asp-for="Summary"/>
        <span asp-validation-for="Summary"></span>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>